$background-color: #08050a;
$gradient-color-1: rgba(7, 5, 9, 1);
$gradient-color-2: rgba(62, 0, 55, 1);
$text-color: #FFFFFF;
$primary-color: #E50914;
$button-hover-bg: $text-color;
$button-hover-color: $background-color;
$font-family: "Montserrat", sans-serif;
$border-radius: 15px;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
$category-color: red;
$radius-image: 40px;
$widht-seat: 30px;
$height-seat: 30px;
$display-seat: inline-block;
$background-size-seat: cover;
$background-position-seat: center;
$input-focus-color: $primary-color;